body {
    background-image: url(../img/background.png); /* Путь к фоновому изображению */
    background-repeat: no-repeat; /* Фоновое изображение без его повторений,*/
    background-size: cover; /* Масштабирует изображение с сохранением пропорций */
    background-color: white; /* Цвет фона */
   }

#wrapper {
    width: 480px; /*ширина обертки*/
    height: 100%; /*высота обертки*/
    background-color: white; /* Цвет фона */
    margin-left: auto; /* Устанавливает величину отступа с лева */
    margin-right: auto; /* Устанавливает величину отступа с права */
    margin-top: 20px; /* Устанавливает величину отступа с верху */
    margin-bottom: 20%; /* Устанавливает величину отступа с низу */    
}


            /* ---------------------------------------- */

 header {
    padding-left: 40px; /* Устанавливает величину отступа с лева */
    padding-top: 50px; /*Устанавливает величину отступа с верху */
    padding-right: 40px; /*Устанавливает величину отступа с права */
}

.box-1{
    padding-top: 20px; /*Устанавливает величину отступа с верху */
    padding-left: 35px; /* Устанавливает величину отступа с лева */
    padding-right: 35px; /*Устанавливает величину отступа с права */
    padding-bottom: 20px; /* Устанавливает величину отступа с низу */ 

}

.box-2{
    padding-left: 35px; /* Устанавливает величину отступа с лева */
    padding-right: 100px; /*Устанавливает величину отступа с права */
    padding-bottom: 10px; /* Устанавливает величину отступа с низу */ 
}
.box-3{
    padding-top: 40px; /*Устанавливает величину отступа с верху */
    padding-left: 35px; /* Устанавливает величину отступа с лева */
    padding-right: 35px; /*Устанавливает величину отступа с права */
    padding-bottom: 10px; /* Устанавливает величину отступа с низу */ 
}

footer{   
    padding-left: 35px; /* Устанавливает величину отступа с лева */
    padding-right: 35px; /*Устанавливает величину отступа с права */
    padding-bottom: 30px; /* Устанавливает величину отступа с низу */ 
}

.left-position {
    display: inline-block; /* генерирует блочный элемент, который обтекается другими элементами */
    width: 50%; /*ширина блока*/
    margin-right: -4px; /* Устанавливает величину отступа от правого края */
}

  .right-position{
    display: inline-block; /* генерирует блочный элемент, который обтекается другими элементами */
    width: 50%; /*ширина блока*/
    vertical-align: top;

 }
   
            /* --------------------------------------------  */

.logo{
    text-align: center; /* Выравнивание картинки по центру */
}

 h1 h2{
    font-family: "Pathway Gothic One"; /* Устанавливает семейство шрифта Pathway Gothic One */
    color: #808080; /* задает цвет шрифта */
}

h5{
    font-family: "arial"; /* Устанавливает семейство шрифта arial */
    font-size: 14px; /* Задает размер шрифта */
    line-height: 19 px;
}

.font2{
    font-family: "arial"; /* Устанавливает семейство шрифта arial */
    font-size: 12px; /* Задает размер шрифта */
    line-height: 17 px;
}

.font3{
    font-family: "arial"; /* Устанавливает семейство шрифта arial */
    font-size: 14px; /* Задает размер шрифта */
    letter-spacing: 1px;  /* Определяет интервал между символами в пределах элемента */
}

.line {
    margin-left: 30px; /*Устанавливает величину отступа с лева */
    margin-right: 30px; /*Устанавливает величину отступа с права */
    background-color:#808080; /* Цвет линии */
    height: 1px; /* Толщина линии */
   }






