@font-face {
    font-family: Wisdom; 
	src: url(../fonts/WisdomScriptAJ.woff)  format('woff');  
}

@font-face {
    font-family: Montserrat; 
	src: url(../fonts/Montserrat-Regular.woff)  format('woff');  
	font-style: normal;
}

@font-face {
    font-family: Montserrat-bold; 
	src:url(../fonts/montserratboldr.ttf) format('truetype');	    
}


@font-face {
    font-family: Droidserif; 
	src: url(../fonts/droidserifitalic.woff) format('truetype'); 
	font-style: italic;
}

@font-face {
	font-family: Roboto-Slab; 
	src: url(../fonts/RobotoSlab-Regular.woff)  format('woff');  
}