*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
	margin:auto;
}


/* HEADER */

header{
	display: flex;
	justify-content:space-between;
	max-width: 933px;
	margin: 55px auto;
	padding: 0 15px;
	}
	
	.logo-link{
	text-decoration: none;
	font-family: 'Wisdom';
	font-weight: 600;       
	font-size: 26px;
	color: #fed136;
	letter-spacing: 2.5px;
	}
	
	.menu-list{
	display: inline-flex;
	position: relative;
	justify-content:space-between;
	width: 495px;
	list-style: none;
	padding-top: 15px;

	}
	
	.menu-item{
	width: 70px;
	text-align: center;
	}
	
	.menu-link{
	font-size:14px;
	color: #222222;
	font-family: 'Montserrat';
	line-height: 41px;
	text-transform: uppercase;
	font-weight: 900;
	text-decoration: none;
	}
	
	.menu-link:hover{
	color: #fed136;
	}
	
	/* SERVICES */


	.container-services{
		max-width: 920px;
		margin: 87px auto;
		padding: 0 15px;

	}

	.section-text{
		position: relative;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		justify-content: center;   
	}   
	
	.section-title{
		font-family: 'Montserrat-bold';
		color: #222222;
		font-size: 28px;
		font-weight: 900;
		text-transform: uppercase;
		justify-content: center;
		overflow: hidden; 
		line-height: 75px;
	}

	.section-subtitle{
		font-family: 'Droidserif';
		color: #777777;
		font-size: 16px;
		font-weight: 100;
	} 

	.article-services{
		display: flex;
		justify-content:space-around;
		flex-wrap:wrap;
		flex-direction: row;
		padding-top: 85px;
		margin-left: -40px;
		width: 940px;
	}

	.item-service {
		width: 290px;
		margin-right: 35px;
		padding: 0 10px;
	}

	.item-service:nth-child(3){
		margin-right: 0;
	}

	.item-title {
		font-family: 'Montserrat-bold';
		font-weight: 900;
		margin-bottom: 10px;
		text-align: center;
		color: #222222;
		line-height: 75px;
	}

	.item-text {
		font-family: 'Roboto-Slab';
		font-size: 0.8em;
		color: #808080; 
		text-align: center;
		line-height: 20px;
	}

	.service-icon {
		display: block;
		position: relative;
		width: 74px;
		height: 74px;
		border: 3px solid #fed136;
		border-radius: 50%;
		margin: 0 auto 20px;
	}

	.service-img {
		position: absolute;
		top: 12px;
		left: 15px;
	}

/* FOOTER */

footer {
	background-color: #222222; 
	background-image: url(../img/map-image.png);
	background-position: bottom right;
	background-repeat: no-repeat;  
	min-width: 940px;
	margin-top: 124px;
}
.footer-text{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;  
	margin-bottom: 55px;
}   

.footer-title{
	font-family: 'Montserrat-bold';
	color: #ffffff;
	font-size: 40px;
	font-weight: 900;
	text-transform: uppercase;
	justify-content: center;
	overflow: hidden; 
	margin-top: 105px;
	margin-bottom: 20px;
}

.footer-subtitle{
	font-family: 'Droidserif';
	color: #777777;
	font-size: 16px;
	font-weight: 100;
} 

/* form */

.form_wrapp {
    width: 940px;
    margin: auto;
}

#contact-form {
	padding-top: 105px;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 335px;
}

input {
    width: 453px;
    height: 50px;
    margin: 15px 15px 15px 0;
    font-family: 'Montserrat-bold';
	font-size: 0.9em;
	font-weight: 900;
    padding-left: 20px;
    border: none;
	border-radius: 3px;	
}

input:focus {
	outline: none;
} 

input:focus:invalid, textarea:focus:invalid {
	outline: red solid;
	border-radius: 3px;	
	}
input:required:valid, textarea:required:valid {
	outline: green solid;
	border-radius: 3px;	
	}

textarea {
	width: 453px;
    height: 210px;
    margin: 15px 0 15px 15px;
    padding: 17px 20px;
    font-family: 'Montserrat-bold';
    font-size: 0.9em;
    border: none;
    border-radius: 3px;
}

input[type="submit"] {
	position: absolute;
    display: block;
    margin: 15px auto;
    padding: 0;
    width: 240px;
    height: 65px;
    text-decoration: none;
    text-align: center;
    line-height: 65px;
    font-family: 'Montserrat-bold';
    font-size: 1.08em;
    font-weight: 900;
    color: white;
    background-color: #fed136;
    border-radius: 3px;
    border: none;
    top: 240px;
    left: 350px;
    cursor: pointer;
}
