* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {font-size: 14px;}
/* 320 */

header{ 	/* header */
min-width: 320px;
min-height: 540px;
margin: 0 auto; 
background:  #000 url('../img/background_mobile.png') no-repeat;  
/* background-size: cover; */

}

.header_wrap{
	margin:0 auto;
    width:100%;
    height: 540px;
    text-align: center;
}


.header_naw_wrap{
	height: 40.74%;
	padding-top: 25px;


	
}

#header_naw > li {
	display: inline-block;
	 list-style: none;
	 margin-bottom: 100px;
	width: 100px;
	margin-left: -20px;
	}

	  .header_naw_link {
		display: inline-block;
		height: 34px;
		width: 80px;
		text-decoration: none;
		color: white;
		line-height: 25px;
		text-align: center;
		font-family: 'Montserrat-bold';
		font-size: 1rem;
		border: 2px solid rgba(255, 255, 255, 0);
		border-radius: 20px; 
	}
	.header_naw_link:hover {
		  border-color: white;
		  transition: 0.2s;
		}
	
		.company_name {
			line-height: 36px;

		  }
	  
		  .company_name_link {
			  text-decoration: none;
			  color: white;
			  margin: 0 auto;
			  font-family: 'Montserrat';
			  font-weight: 900;
			  letter-spacing: 1px;
			  font-size: 1.429rem; 
		  }

		.header_info_text{
			display: block;
			margin: 0 auto;
			text-align: center;
			
			 
		} 


	.header_info_title{
	display: block;
	max-width: 90%;
	margin: 0 auto;
	color: white;
	font-family: 'Montserrat-bold';
	font-size: 2.143rem;
	text-transform: uppercase;
	text-align: center;

}

	.header_info_subtitle {
	display: block;
	max-width: 82%;
	color: white;
	font-family: 'Roboto-Thin';
	font-size: 1.286rem;
	padding-top: 20px;
	padding-bottom: 4%;
	letter-spacing: 1px;
	text-align: center;
	margin: 0 auto;


}

.header_info_button_link {
	display: block;
	margin: 0 auto;
	width: 280px;
	height: 40px;
	background-color: #ff4e50;
	border: 2px solid #ff4e50;
	border-radius: 20px;
	color: white;
	font-family: Montserrat;
	font-size: 1rem;
	font-weight: 700;
	text-decoration: none;
	text-align: center;
	line-height: 33px; 
}

.header_info_button_link:hover {
	  color: #ff4e50;
	  background-color: white;
	  transition: 0.2s; 
}

/* main */


.profiles_block{
	min-width: 320px;
	display: block;
	text-align: center;
	margin: 0 auto;
}

.profiles_block_title{
	display: inline-block;		
	max-width: 90%;
	margin: 0 auto;
	color: #333;
	font-family: "Montserrat-Bold";
	font-size: 1.5rem;
	font-weight: 700;
	text-align: center; 
	padding-top: 70px;
}

.profile_wrap{
margin: 0 auto;
text-align: center;
}

.person{
	padding-top: 20px;
	display: block;
	min-width: 100px;
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
}
.person_avatar{
	display: block;
	max-width: 100%;
	margin: auto;
	text-align: center;
	text-decoration: none;

}
.person_photo{
position: relative;
display: inline-block;
width: 121px;
height: 121px;
border-radius: 50%;
margin: 5px auto 17px;
}

.person_icon{
	position: relative;
	bottom: 10px;
	right: 45px;
	z-index: 100;
	padding: -115px;
	
}

.person_name{
	margin: 0 auto;
	color: #333;
	font-family: 'Montserrat-Bold';
	font-size: 0.9286rem;
	font-weight: 700;
	text-align: center; 
	padding-bottom: 1.286rem;
}

.person_title{
	width: 60%;
	margin: 0 auto;
	color: #666;
	font-family: 'Roboto-Thin';
	font-size: 0.9286rem;
	text-align: center;
}

.main_button{
	padding-top: 30px;
	padding-bottom: 57px;

}

.main_button_link {
	display: block;
	width: 280px;
	height: 40px;
	background-color: #fff;
	border: 2px solid #ff4e50;
	border-radius: 20px;
	color: #ff4e50;
	font-family: Montserrat;
	font-size:  1.286rem;
	font-weight: 700;
	text-decoration: none;
	text-align: center;
	margin: 0 auto;
	line-height: 33px; 
}

.main_button_link:hover {
	  color: #fff;
	  background-color: #ff4e50;
	  transition: 0.2s; 
}

/* /320 */
/*321-767*/
@media screen and (min-width: 321px) and (max-width: 767px){
	header{
		background:  #000 url('../img/background_tablet.png') center no-repeat; 
		background-size: cover;  
	}
    .header_wrap{
        margin:0 auto;
		max-width: %;
		min-height: 100%;
        text-align: center;
    }
   

	

}
/*321-767*/
/*768*/
@media screen and (min-width: 768px) {
	
	.header_wrap{
        margin:0 auto;
        min-width: 768px;
        min-height: 700px;
        text-align: center;
	}
	.header_naw_wrap{
		display: flex;
		justify-content: space-between;
		min-width: 660px;
		padding: 51px 54px;
	}
	
    .header_naw {
		order: 1;
    }
	.company_name{
		order: -1;

    }

    .header_info_title{
        clear:both;
		margin-top:10px;
		font-size: 51.97px;
		min-width: 600px;
	}
	
	.header_info_subtitle{
		margin-top:10px;
		font-size: 23.99px;
		min-width: 600px;
	}

	.header_info_button_link{
	min-width: 200px;
	}

.profiles_block_title{
	display: inline-block;
	min-width: 500px;
}

.profile_wrap{
	display: block;
}

.person{
	display: inline-flex;
	justify-content: center;
	min-width:50%;
	margin-left:-4px;
}

.person > #id1{
flex: 1;
order: 1;	
}

.person > #id2{
	flex: 2;
	order: 3;
	}
	.person > #id3{
		flex: 3;
	order: 2;
	}
	.person > #id4{
		flex: 4;
		order: 4;
		}



}
/*/768*/
/*769-1439*/
@media screen and (min-width: 769px) and (max-width: 1439px){
    .header_wrap{
        margin:0 auto;
        width:100%;
        min-height: 540px;
        text-align: center;
    }
   

}
/*1440*/
@media screen and (min-width: 1440px) {

	.profile_wrap{
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		clear:both;
		width: 600px;
			}