/* Body */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/background.png); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-color: white;
   }


#wrapper {
    width: 1024px;
    height: 1300px;  
    background-color: white;
    margin: 220px auto 240px auto;
    padding: 55px 62px 0px 62px;
   }

   /* text */

   h1, h2 {
    text-transform: uppercase;
    font-family: 'Pathway Gothic One';
    font-weight: normal;
    color: #263555;
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 48px;

}

h5 {    
    font-family: Arial;
    font-size: 15px;
    line-height: 19px;
    font-weight: normal;
    margin-bottom: 19px;
    color: #263555;
}

.text-1 {
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
}


.text-3{
    width: 210px;
    border: 1px solid #b6b6b6;
    padding: 22px;
    background-color: #fcfafa;
    font-family: Arial;
    font-size: 15px;
    line-height: 19px;
    color: #263555;
}

.text-3::before {
    content: '\201C' ;
    padding: 2px;
}

.text-3::after {
    content: '\201D' ;
    padding: 2px;
}

   /* content */

.content {
    display: inline-block;
    width: 641px;
    height: auto;

}
   
.section {
    width: 904px;
    height: auto;
    margin: 60px 0px 10px 0px;
}

.sidebar {
    width: 210px;
    display: inline-block;
    margin-left: 48px;
    vertical-align: top;
    }


.line {
    background-color:#DCDCDC;
    height: 0.5px;
   }

.aside {
    display: inline-block;
    vertical-align: top;
    width: 210px;
    margin-left: 48px;
}

.box {
    display: inline-block;

}

.sign {
    margin-top: 33px;
    color: #263555;
    text-align: center;
    margin-bottom: 22px;
}

.img {
    width: 360px;
    height: 280px;
    margin-right: 22px;
    margin-bottom: 20px;
    float: left;
}




    /*  */

.list {
    counter-reset: li; 
    list-style: none; 
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0px;
    }

    .list p {
    display: inline-block;
    margin-left: 38px;
    margin-bottom: 33px;
    color: #808080;
    text-decoration: none;
    }

    .list h5 {
    display: block;
    margin-left: 38px;
    margin-bottom: 0px;
    }

    .list li::before {
        content: counter(li);
        height: 28px;
        width: 28px;
        border-radius: 14px;
        outline: 1px;
        outline-color: #5099ba;
        counter-increment: li;
        font-size: 13px;
        line-height: 28px;
        text-align: center;
        float: left;
        background-color: #38afe5;
        color: #fff;
    }

    .items li {
        margin:     0px;
        display: inline-block;
        width: 49%;
        vertical-align: top;
        color: #263555;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        margin-top: 26px;
    }
    .items li::before {
        content: '\2192' ;
        color: #38afe5;
        margin-right: 14px;

    }

